.row {
    display: block;
    margin-top: 60px;
    background: #FFFFFF;
    /* стиль блока колонок */
}
.vector {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    /* стиль картинки */
}
  .column {
    display: inline-block;
    width: 220px;
    height: 220px;  
    border: 1px dotted rgb(0, 0, 0);
    margin-right: 10px;
    border-radius: 10px;
    /* стиль каждого блока */
  }