.serv2 {
    width: 900px;
    height: 250px;
    display: flex;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 5px;
    background: #FFFFFF;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);    
  }
  .servImg img {
    border-radius: 10px;
  }